/* HEADER */

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  right: 0%;
}

.btn-primary.don {
  background-color: #ea0d25;
  border: #ea0d25;
}

.btn-secondary.membre {
  background-color: #1d714f;
  border: #1d714f;
}

.btn-success.benevole {
  background-color: #ebd41c;
  border: #ebd41c;
}

.btn-danger.mecene {
  background-color: #e4066e;
  border: #e4066e;
}

:root {
  --header-height: 7rem;
}

html {
  scroll-padding-top: calc(var(--header-height) + 1rem);
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--header-height);
}

/* Fin Header*/

.animated-element {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.visible {
  opacity: 1;
  transform: translateX(0);
}
.container {
  margin-top: 100vh; /* Juste pour la démonstration */
}

/* Home */
.img {
  background-image: url("../../img/image2.jpg");
  width: 100%;
  height: 250px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img .text {
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: white;
  width: 70%;
}

.welcome h2 {
  position: relative;
  text-align: center;
  top: 30%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline solid rgb(255, 255, 255);
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
}

.welcome2 p {
  width: 80%;
  margin-top: auto;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
}

.bg-team {
  background: #16222a;
  background: -webkit-linear-gradient(
    180deg,
    rgba(29, 113, 79, 1) 0%,
    rgba(1, 121, 111, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(29, 113, 79, 1) 0%,
    rgba(1, 121, 111, 1) 100%
  );
  box-shadow: 0px 5px 5px grey, 0px -5px 5px grey;
}

/*Section Partenaires*/

/* Page Valeurs */
.card-center {
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
/* Page Connexion */
.btn-modal {
  margin: 2em;
}

.btn {
  border-radius: 0;
  border: none;
  -webkit-transition: background-color ease-out 0.5s;
  -moz-transition: background-color ease-out 0.5s;
  -o-transition: background-color ease-out 0.5s;
  transition: background-color ease-out 0.5s;
  &:hover {
    -webkit-transition: box-shadow ease-out 0.3s;
    -moz-transition: box-shadow ease-out 0.3s;
    -o-transition: box-shadow ease-out 0.3s;
    transition: box-shadow ease-out 0.3s;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.btn-grey {
  background: #797979;
  color: #fff;
  &:hover {
    background: #575757;
    color: #fff;
  }
}

.close {
  opacity: 0.4;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  &:focus {
    box-shadow: none;
    border-color: #999;
  }
}

#myModal {
  .modal-dialog {
    /* max-width: 580px; */
  }
  .modal-content {
    border-radius: 0;
    border: none;
    form {
      label {
        font-weight: normal;
        margin-bottom: 2px;
      }
    }
  }
  .modal-footer {
    text-align: left;
  }
}

.nav-tabs {
  & > li {
    width: 50%;
    a {
      margin: 0;
      border-radius: 0;
      text-align: center;
      font-weight: 600;
    }
  }
}

/* Optional Styling */
.nav-tabs > li > a {
  background-color: #ccc;
  color: #666;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  background-color: #f7f7f7;
  color: #5a5a5a;
}
.modal-content {
  background-color: #f7f7f7;
}
/*.form-control {
  border: none;
}
*/

/* Form validation */
.parsley-error {
  border-color: #c00;
  color: #c00;
  background-color: #ffd9d9;
}

/* Forgot Password Section */
#forgot-password-collapse {
  border-top: 2px dashed #999;
  margin-top: 30px;
  h5 {
    margin-top: 15px;
  }
  form {
    margin-top: 20px;
  }
}

.existing-customer {
  display: none;
}

/* Enregistrement */
.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}

/* FOOTER */

footer {
  background: #16222a;
  background: -webkit-linear-gradient(
    180deg,
    rgba(1, 121, 111, 1) 0%,
    rgba(16, 103, 117, 1) 41%,
    rgba(0, 24, 115, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(1, 121, 111, 1) 0%,
    rgba(16, 103, 117, 1) 41%,
    rgba(0, 24, 115, 1) 100%
  );
  color: white;
  margin-top: 1em;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

/* Dashboard */
/* Profile Users */
